@model List<User>
@{
    ViewData["Title"] = "Вход в систему";
    var users = ViewBag.Users as List<User> ?? new List<User>();
}

<h2>Вход в систему</h2>

<form method="post">
    <div class="form-group">
        <label for="login">Логин</label>
        <input type="text" name="login" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" name="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Войти</button>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger mt-3">
        @Html.ValidationSummary()
    </div>
}

<br />
<hr />
<br />

@if (users.Any())
{
    <h4>Все пользователи:</h4>

    <form method="post" id="quickLoginForm">
        <input type="hidden" name="login" id="quickLoginInput" />
        <input type="hidden" name="password" id="quickPasswordInput" />

        @foreach (var user in users)
        {
            <button type="button"onclick="quickLogin('@user.Login', '@user.Password')" style="width: 100%; text-align: left;">
                @user.LastName @user.FirstName @user.MiddleName <br />
                <small>Логин: @user.Login</small>
            </button>
            <br />
            <br />
        }
    </form>

    <script>
        function quickLogin(login, password) {
            document.getElementById('quickLoginInput').value = login;
            document.getElementById('quickPasswordInput').value = password;
            document.getElementById('quickLoginForm').submit();
        }
    </script>
}